.about {
    min-height: 100vh;
    position: relative;
    &__h3 {
        line-height: 50px;
        @media (max-width: 650px) {
            font-size: 25px;
            line-height: 35px;
            margin-top: 40px;
        }
    }
    .h3--side {
        @media (max-width: 1100px) {
            right: -17%;
        }
        @media (max-width: 850px) {
            display: none;
        }
    }
    &__imgDiv {
        width: 25%;
        margin: 10px 5% 0 0;
        display: block;
        float: left;
        @media (max-width: 850px) {
            width: 35%;
        }
        @media (max-width: 650px) {
            width: 60%;
            margin: 0 auto;
            float: none;
        }
    }
    &__img {
        width: 100%;
        display: block;
        box-shadow: 10px 10px 28px 0px rgba(56,56,56,1);
    }
    &__container {
        margin: 50px 0 0 250px;
        @media (max-width: 1100px) {
            margin-left: 200px;
        }
        @media (max-width: 940px) {
            margin-left: 50px;
        }
        @media (max-width: 850px) {
            margin-right: 50px;
        }
        @media (max-width: 650px) {
            margin: 50px 10px 0 10px;
            flex-flow: column wrap;
        }
    }
    &__content {
        float: left;
        width: 55%;
        @media (max-width: 850px) {
            margin-right: 0;
        }
        @media (max-width: 650px) {
            width: 90%;
            margin: 0 auto;
            float: none;
        }
    }
}

.cage {
    position: relative;
    color: white;
    img {
        display: none;
        width: 100px;
        height: 100px;
        position: absolute;
        left: 0;
        top: 100%;
    }
    &:hover {
        color: $light;
        img {
            display: block;
        }
    }
    @media (max-width: 650px) {
        color: white;
        &:hover {
            img {
                display: none;
            }
        }
    }
}